<h1>StaticPages#blog</h1>
<center>

This application is used to track thoughts as they compare to actions.
It is used to help build other awesome applications.



<p>Find me in app/views/static_pages/blog.html.erb</p>
</center>