<center>
<h1>
Welcome!
</h1>
<h5>
Noted is an application for remembering things.
When/ Wherever you are , simply use this application to write down what is important , and why you need to remember it! it's that simple.
</h5>


</center>

