<div class="row">
  <center>
    <h1>Welcome to Noted!</h1>
  </center>
</div>
<div class="row">
<div class='col-md-8'>
  <h5>
    <center>
    <h3 style="color: blue"><strong>Noted is an easy-to-access way of remembering things.</strong></h3>
    </center>
  </h5>
</div>
<div class="col-md-4">
<%= image_tag("mr-forgetful.png") %>
</div>
</div>
<br>
<div class="row" style="padding: 20px;">
<div class="col-md-12">
<center>
    <h4 style=>
<strong>When or wherever you are , simply use this application to write down what is important , and why you need to remember it! it's that simple. You can easily save and access your notes from a browser at anytime, making it easy to stop forgetting common things!</strong>
    </h4>
</center>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
   <%= image_tag("stop-forgetting.png") %>
  </div>
  <div class="col-md-8">
    <center>
        <h4 style="color: blue;">
    <strong style="padding: 40px;">So what are you waiting for? Get to Noting right away, and stop forgetting all of the things that you wanted to get done today. Get Noted!</strong>
        </h4>
    </center>

  </div>



</div>
