<!DOCTYPE html>
<html>
<center>
  <div class="center jumbotron">
  <h1>Welcome to the Small Wins Application</h1>

  <h2>
    This is the home page for 
    <a href="https://shrouded-fjord-7253.herokuapp.com/">Sunshine Development Studio</a>'s Time Tracker application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Day-One.png", alt: "Rails logo"),
            '/' %>
        </center>
</html>
