<footer class="footer">
  <small>
    <a href="https://shrouded-fjord-7253.herokuapp.com/">Sunshine Development Studios</a>
    by <a href="https://www.facebook.com/adam.sunshine.7">Adam Sunshine</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "Purpose", 'purpose' %></li>
      <li><a href="https://shrouded-fjord-7253.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>